<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Projeto Integrador</title>
    <%- include('../partials/head.ejs'); -%>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
  <body>
    <div class="estrutura">
      <header class="header">
        <h1>Controle de gastos</h1>
      </header>

      <main class="content">
        <h2>Projeto integrador</h2>
        <div class="informacoes">
          <span>User: </span><br>
          <span>id:</span><br>
          <span>R$: </span>
        </div>
        <form class="formulario">
          <div class="caixa__valor-receita">
            <span>Receitas </span>
            <label for="valor__receita">Valor: </label>
            <input type="number" min="0" id="valor__receita">
            <button type="button" class="btn btn-primary">Enviar</button>
          </div>
          <div class="caixa__categoria-receita">
            <label for="categoria__receita">Categoria: </label>
            <input type="text" class="categoria__receita" id="categoria__receita">
            <button type="button" class="btn btn-primary">Enviar</button>
          </div>
          <div class="caixa__valor-dispesa">
            <span>Dispesas</span>
            <label for="dispesas__valor">Valor: </label>
            <input type="number" min="0" class="dispesas__valor" id="dispesas__valor">
            <button type="button" class="btn btn-primary">Enviar</button>
          </div> 
          <div class="caixa__categoria-dispesa">
            <label for="dispesas__categoria">Categoria: </label>
            <input type="number" min="0" class="dispesas__categoria" id="dispesas__categoria">
            <button type="button" class="btn btn-primary">Enviar</button>
          </div>
          <a href="/logout" class="btn btn-link" id="sair">Sair</a>
        </form>
      </main>

      <footer class="footer">
        <p>&copy; Riam stefeson e Andre brendo</p>
      </footer>
    </div>
</body>
</html>